:host {
  display: block;
}

.cc-breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.cc-breadcrumbs__active {
  color: var(--color-accent);
  font-weight: 800;
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 0.25rem;
}

.cc-breadcrumbs__sep {
  color: rgba(185, 157, 161, 1);
}

.cc-breadcrumbs__inactive {
  color: rgba(185, 157, 161, 0.5);
  font-weight: 600;
}
