<!-- przeniesione 1:1 z app/character-stats -->
<h2 class="section-title" i18n="Nagłówek sekcji cech głównych@@stats.primaryHeader">
  Primary Characteristics
</h2>
<div class="stats-row-wrapper">
  <div class="stats-row">
    @for (s of primaryStats; track s) {
      <div class="stat-box">
        <div class="label muted">{{ s.label }}</div>
        <div class="value">
          {{ statTotal(s, 'primary') }}
          @if (isPercent(s, true)) {
            <span class="suffix">% </span>
          }
        </div>

        <div class="sub-values muted">
          <span class="sub sub-base"
          ><span i18n="Etykieta bazowej wartości statystyki@@stats.baseLabel">Base:</span> &nbsp;
            <strong>{{ s.base ?? statTotal(s, 'primary') }}</strong></span
          >
          <span class="sub sub-adv"
          ><span i18n="Etykieta rozwinięcia (advances) statystyki@@stats.advLabel">Adv:</span>&nbsp;
            <strong>{{ s.adv ?? 0 }}</strong></span
          >
        </div>
      </div>
    }
  </div>
</div>

<h2 class="section-title" i18n="Nagłówek sekcji cech drugorzędnych@@stats.secondaryHeader">
  Secondary Characteristics
</h2>
<div class="stats-row">
  @for (sc of secondaryStats; track sc) {
    <div class="stat-box">
      <div class="label muted">{{ sc.label }}</div>
      <div class="value">
        {{ statTotal(sc, 'secondary') }}
        @if (isPercent(sc, false)) {
          <span class="suffix">% </span>
        }
      </div>

      <div class="sub-values muted">
        <span class="sub sub-base"
        ><span i18n="Etykieta bazowej wartości statystyki@@stats.baseLabel">Base:</span>&nbsp;
          <strong>{{ sc.base ?? statTotal(sc, 'secondary') }}</strong></span
        >
        <span class="sub sub-adv"
        ><span i18n="Etykieta rozwinięcia (advances) statystyki@@stats.advLabel">Adv:</span>&nbsp;
          <strong>{{ sc.adv ?? 0 }}</strong></span
        >
      </div>
    </div>
  }
</div>
